@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
 :root {
    --main-text: #000;
    --secondary-text: #fff;
}

body {
    box-sizing: border-box;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
}

.top-bg {
    background-image: url(images/ocean.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
}

header {
    width: 100%;
    position: fixed;
}

.logo-icon {
    width: 2rem;
    margin: 0 auto 0 1em;
    color: var(--secondary-text);
    fill: var(--secondary-text);
    stroke-width: 1.5px
}

.bars-icon {
    width: 2rem;
    margin: 0 1.5em 0 auto;
    fill: var(--secondary-text);
}

nav {
    display: flex;
    height: 5rem;
    display: flex;
    align-items: center;
}

ul {
    display: none;
    list-style: none;
    margin: 0 4em 0 auto;
}

li {
    display: inline-block;
    font-size: 1.5rem;
    margin: 0 1em 0 1em;
}

a {
    text-decoration: none;
    color: var(--secondary-text);
}

.header-scrolled {
    background-color: rgb(255, 255, 255);
}

.svg-scrolled {
    color: var(--main-text);
}

.a-scrolled {
    color: var(--main-text);
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40vh;
    flex-wrap: wrap;
    color: var(--secondary-text);
}

.heading {}

.top-p {
    text-align: center;
    margin: 0 2em;
}

.link-btn {
    margin: 2em 0;
    border: 2px solid var(--secondary-text);
    padding: 0.6em 2em;
}

.about-container {
    height: 80vh;
}

.projects-container {
    height: 80vh;
}

.contact-container {
    height: 80vh;
}

@media screen and (min-width: 480px) {
    .logo-icon {
        margin-left: 2em;
    }
    .bars-icon {
        display: none;
    }
    ul {
        display: block;
        margin: 0 1em 0 auto;
    }
    li {
        font-size: 1.2rem;
        margin: 0 0.5em;
    }
}

@media screen and (min-width: 769px) {
    .logo-icon {
        width: 2.5rem;
        margin-left: 2em;
    }
    .bars-icon {
        display: none;
    }
    ul {
        display: block;
        margin: 0 2em 0 auto;
    }
    li {
        font-size: 1.5rem;
        margin: 0 0.5em;
    }
}

@media screen and (min-width: 1025px) {}

@media screen and (min-width: 1201px) {}